<div class="w-full">
    <div class="shadow-2xl container mr-auto ml-auto">
        <div class="flex gap-9 h-20 justify-between items-center mx-10 max-w-full">
            <div>
                <h1 class="text-[2pc] font-bold cursor-pointer" routerLink="/">Notes</h1>
            </div>
            <div id="Forms">
                <form>
                    <input type="text" placeholder="Search Notes" class=" bg-[#eee] border-black border-solid border-2 px-2 placeholder:bg-[#eee] placeholder:p-1 w-64 h-8 rounded"/>
                </form>
            </div>
            <div id="btnLogin">
                <nav>
                    <ul>
                       <button class="bg-black text-white w-[5pc] h-7 rounded-full hover:bg-gray-600 transition-all duration-200" routerLink="/login">Login</button>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>