<div class="flex justify-center">
  <div
    class="border-[1px] shadow-lg rounded p-5 border-solid border-[#aaa] max-sm:w-full w-96"
  >
    <h1 class="text-[2pc] font-bold">Login</h1>
    <div>
      <form [formGroup]="form" (submit)="onSubmit()">
        <input
          type="text"
          id="email"
          name="Email"
          placeholder="Email"
          class="w-full border-[1px] border-solid border-[#eee] p-2 rounded my-3"
          formControlName="email"
        />
        @if (form.controls.email.invalid && form.controls.email.untouched) {
        <p class="text-red-400 -my-2">Please enter a valid email address</p>
        }
        <input
          type="password"
          name="Password"
          placeholder="password"
          class="w-full border-[1px] border-solid border-[#eee] p-2 rounded my-5"
          formControlName="password"
        />
        @if (form.controls.password.invalid && form.controls.password.untouched)
        {
        <p class="text-red-400 -my-4">Please enter a valid password</p>
        }
        <button class="w-full bg-blue-500 text-white p-1 rounded my-7">
          Submit
        </button>
      </form>
      <p class="flex justify-center my-2">
        No Register Yet?
        <a
          routerLink="/signUp"
          class="underline decoration-blue-700 text-blue-700 font-bold mx-2"
          >Create a New Account</a
        >
      </p>
    </div>
  </div>
</div>
